html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: #332f35;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
canvas {
    top: 0;
    left: 0;
    display: block;
}

.transformUp {
    transition-timing-function: ease-in;
    transition: 0.2s;
    transform: translateY(-200%);
}
.transformDown {
    transition-timing-function: ease-in;
    transition: 0.2s;
    transform: translateY(200%);
}
.transformBackIn {
    transition-timing-function: ease-in;
    transition: 0.2s;
    transform: translateY(0);
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: #9a929e;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
}

input[type=radio]:checked + label {
    color: #004966;
    background: #7FDBFF;
}

input[type=checkbox] {
    display:none;
}
input[type=checkbox] + label {
    height: 24px;
    width: 24px;
    display:inline-block;
    padding: 0 0 0 0px;
}
#toggle-vibration + label{
    background: url(./img/vibration-unchecked.svg) no-repeat center;
}
#toggle-vibration:checked + label{
    background: url(./img/vibration-checked.svg) no-repeat center;
}
#toggle-help + label{
    background: url(./img/help-unchecked.svg) no-repeat center;
}
#toggle-help:checked + label{
    background: url(./img/help-checked.svg) no-repeat center;
}
#toggle-fullscreen + label{
    background: url(./img/fullscreen-unchecked.svg) no-repeat center;
}
#toggle-fullscreen:checked + label{
    background: url(./img/fullscreen-checked.svg) no-repeat center;
}

#radio-selectNumber label {
    padding: 4px 10px;
}

#radio-selectGroup label {
    margin-bottom: -5px;
    width: 24px;
    height: 28px;
}

.radio-group {
    border: solid 3px #675f6b;
    border-radius: 30px;
    overflow: hidden;
}

#radio-selectGroup {
    grid-column: 1;
}

#radio-selectNumber {
    grid-column: 2;
}
#menuContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    top: 10px;
    position:fixed;
    width: inherit;
}
#option-select + label{
    background: url(./img/select-unchecked.svg) no-repeat center;
}
#option-select:checked + label{
    background: #7FDBFF url(./img/select-checked.svg) no-repeat center;
}
#option-group + label{
    background: url(./img/group-unchecked.svg) no-repeat center;
}
#option-group:checked + label{
    background: #7FDBFF url(./img/group-checked.svg) no-repeat center;
}
#option-ordinate + label{
    background: url(./img/ordinate-unchecked.svg) no-repeat center;
}
#option-ordinate:checked + label{
    background: #7FDBFF url(./img/ordinate-checked.svg) no-repeat center;
}

#footerContainer {
    bottom: 0;
    width: 100%;
    position:fixed;
}
#footerContainer i {
    margin: 10px 30px;
}
#footerGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    position:relative;
    padding-bottom: 10px;
    z-index: 999;
}
ol {
    margin-left: -20px;
}
dd {
    margin-top: -1.6rem;
    margin-bottom: 1rem;
}
#helpContainerWrapper {
    top: 0;
    height: 100%;
    min-height: 100%; 
    min-width: 100%;
    background: transparent;
    display: none;
    position: fixed;
    z-index: 9999;
}

#helpContainer {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    
    background: #39363a;
    color: #9a929e;
    padding: 10px;
}

#githubCenter {
    display: flex;
    justify-content: center;
}
#toggle-help {
    grid-column: 2;
}
#toggle-fullscreen {
    grid-column: 3;
}
#toggle-vibration {
    grid-column: 1;
}
